<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028499991266-jluip8q7ve55oqa3ipha8op166g19lvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028499991266-jluip8q7ve55oqa3ipha8op166g19lvs</string>
	<key>API_KEY</key>
	<string>AIzaSyCix43VQjj_iDf0OgWUMyRi4nktHsx-2mk</string>
	<key>GCM_SENDER_ID</key>
	<string>1028499991266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.william.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-6a672</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-6a672.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028499991266:ios:79bd04a85edf1836c00cbb</string>
	<key>DATABASE_URL</key>
	<string>https://chat-6a672.firebaseio.com</string>
</dict>
</plist>